[package]
name = "application"
version = "0.1.0"
edition = "2024"

[dependencies]
sdl3-sys = { path = "../sdl3-sys" }
sdl3-ttf-sys = { path = "../sdl3-ttf-sys" }
calendar = { path = "../calendar", features = ["sdl3-geometry"] }
